<% layout('layout/default') %>
<!-- Page-Title -->
<!--<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="btn-group pull-right">
        <ol class="breadcrumb hide-phone p-0 m-0">
          <li>
            <h4 class="page-title">Traffic Updates</h4>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>-->
<!-- end page title end breadcrumb -->



<div class="row">
  <div class="col-sm-4 p-0 sidebar">
    <div class="panel panel-default shadow">
      <div class="panel-heading">
        <!--<h3 class="panel-title">Search</h3>-->
        <h4 class="panel-sub-title font-13 text-muted">Help other road users by reporting the traffic situation around you</h4>

      </div>
      <div class="panel-body">
        <p><button class="btn btn-inverse btn-custom text-center"><i class="fa fa-pencil"></i> Report Traffic</button></p>
      </div>
    </div>
    <div class="panel panel-color panel-teal shadow">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Search</h3>
        <p class="panel-sub-title font-13 text-muted">Know the traffic situation around a place.</p>

      </div>
      <div class="panel-body">
        <div class="form-group search-box">
          <input type="text" id="search-input" class="form-control product-search" placeholder="Bridge,bus-stop,popular traffic spots">
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-8">

    <div class="timeline timeline-left">
      <article class="timeline-item alt updates-label">
        <div class="text-left">
          <div class="time-show first">
            <a href="#" class="btn btn-danger w-lg">Traffic updates</a>
            <!--<span class="col-sm-offset-7"><strong>Traffic updates</strong></span>-->
          </div>
        </div>
      </article>

        <% if(typeof traffics != "undefined" && traffics.length){  %>
            <%
              var colors = ["primary","success","info","warning","purple","danger","inverse","pink","orange","custom","brown","teal"];
            %>
            <% traffics.forEach(function (traffic) { %>
                  <% var randomColor = colors[Math.floor(Math.random() * colors.length)]; %>
                  <article class="timeline-item">
                    <div class="timeline-desk">
                      <div class="panel">
                        <div class="timeline-box">
                          <span class="arrow"></span>
                          <span class="timeline-icon bg-<%= randomColor %>"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                          <h4><strong><a href="#"><i class="fa fa-map-marker"></i> <%= traffic.location.landmark %></a></strong></h4>
                          <h5 class="text-<%= randomColor %>"><time class="timeago" datetime="<%= traffic.createdAt %>"></time></h5>
                          <p><strong>Traffic Level: </strong> <label class="label label-<%= traffic.level.color %>"><%= traffic.level.name %></label></p>
                        </div>
                      </div>
                    </div>
                  </article>
            <%}) %>

      <!--<<!--%}else {%-->
        <%}%>

    </div>
  </div>
</div>

<% block('lazy_js').append('<script src="/bower_components/moment/moment.js"></script>') %>
<% block('lazy_js').append('<script src="/js/pages/index.js"></script>') %>